body {
	background-color: #101c1c;
	color: #fff;
	font-family: Arial, sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

nav {
    background-color: #001111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav h2 {
	color: #7ED321;
}



nav ul {
    list-style: none;
    display: flex;
}
nav li {
    margin: 0 10px;
}
nav a {
	color: #7ED321;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
nav a:hover {
    color: green;
}

.bul {
	color: #7ED321;
	font-size: 30px;
}

.bul:hover {
	text-decoration: none;
	color: green;
}


.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 40px 20px;
	display: grid;
  	grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
  	grid-gap: 20px;
  	justify-content: center;
	height: 525px;
	overflow: auto;
}

h1 {
	text-align: center;
	font-size: 36px;
	margin-bottom: 20px;
}

h2 {
	text-align: center;
	font-size: 24px;
}

.card {
	background-color: #011110;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	transition: transform 0.2s ease;
	
}

.card:hover {
	transform: translateY(-5px);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.2s ease;
}

.card:hover .card-body {
  	background: rgba(0, 0, 0, 0.4);
}

.card-header {
	background-color: #7ED321;
	color: black;
	font-size: 20px;
	font-weight: bold;
	padding: 20px;
}

.card-body {
	padding: 20px;
}

.card-body p {
	margin-bottom: 10px;
}

/* Make the entire card div clickable */
.card-link {
	display: block;
	text-decoration: none;
	color: inherit;
	margin-bottom: 0px;
}